# build directories
**/build

# Webpack directories
**/.webpack

# aws
**/.aws/**

# Error Logs (Including yarn)
*error.log

# Terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
infrastructure/builds
*tfplan*

# Security report
zap-report.html

# Node modules
node_modules
